{% extends "books/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container pt-5 pb-5" style="padding-right: 300px; padding-left: 300px;">
    <div class="pl-2 pt-2 pb-2 border border-bottom-0 border-dark" style="background-color: #353535;">
        <p class="m-0 text-center">{% if recommendation_id %}Edit your recommendation{% else %}Write a recommendation{% endif %} for "{{ book_original.title }}"</p>
    </div>
    <div class="container p-5 border border-dark" style="background-color: #252525;">
        <form method="post" novalidate>
            {% csrf_token %}
            {{ form|crispy }}
            <button type="submit" class="btn btn-primary mt-3">{% if recommendation_id %}Update Recommendation{% else %}Add Recommendation{% endif %}</button>
            {% if recommendation_id %}
            <button type="submit" name="delete" class="btn btn-danger mt-3" style="width: 100%;">Delete Reccommendation</button>
            {% endif %}
        </form>
    </div>
</div>
{% endblock content %}