{% extends "books/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
  <div class="container p-0">
    <div class="pl-2 pt-2 pb-2 border-bottom border-dark" style="background-color: #353535;">
      <h5 class="m-0">Recent Recommendations</h5>
  </div>
  <div class="container p-2">
      {% for recommendation in recommendations %}
        <div class="container p-0 pt-2 pb-2 border-top border-dark">
          <div class="container p-0 pt-2 pb-2">
            <div class="row m-0 p-0">
              <div class="col-1 p-0 m-0">
                <a href="{% url 'user-profile' recommendation.user.id %}" class="title-link p-0 m-0">
                  <img src="{{ recommendation.user.image.url }}" class="img-fluid" style="height: 70px; width:100%; object-fit: cover;" alt="{{ recommendation.user.username }}">
                  <p class="m-0 block-content text-center">{{ recommendation.user.username }}</p>
                </a>
                <p class="m-0 block-content text-center" style="font-size: 10px;">{{ recommendation.created_date|date:"jS F Y" }}</p>
              </div>
              <div class="container col ml-2 pl-2 border-left border-dark">
                <div class="row m-0 p-0">
                  <a href="{% url 'book-detail' recommendation.book_recommended.id %}" class="title-link col-1 p-0 m-0"><img src="{{ recommendation.book_recommended.cover.url }}" class="img-fluid" style="height: 70px; object-fit: cover;" alt="{{ author_book.book.title }}"></a>
                  <div class="container col">
                    <div class="d-flex">
                        <a href="{% url 'book-detail' recommendation.book_recommended.id %}" class="title-link"><p class="m-0 block-content">{{ recommendation.book_recommended.title }}</p></a>
                        <p class="m-0 block-content ml-2 mr-2" style="font-size: 13px;">is similar to</p>
                        <a href="{% url 'book-detail' recommendation.book_original.id %}" class="title-link"><p class="m-0 block-content">{{ recommendation.book_original.title }}</p></a>
                    </div>
                  <div style="font-size: 13px;">
                    <p class="m-0 mt-2 pt-2 block-content border-top border-dark">{{ recommendation.recommendation|linebreaks }}</p>
                  </div>
                </div>
                </div>
                {% if recommendation.user == user %}
                <a href="{% url 'edit-recommendation' recommendation.book_original.id recommendation.id %}" class="title-link m-0 float-right" style="font-size: 13px;">
                <i class="fas fa-edit"></i> Edit Recommendation</a>
                {% endif %}
                </div>
            </div>
            </div>
        </div>
      {% endfor %}
    </div>
{% endblock content %}