{% load static %}
<!DOCTYPE html>
<html>
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=1500, initial-scale=1">
    <link rel="shortcut icon" type="image/png" href="{% static 'favicon.png' %}" >
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap" rel="stylesheet">
    <!-- Link to external CSS file -->
    <link rel="stylesheet" href="{% static 'main.css' %}">
    <!-- Optional JavaScript -->


    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    {% if title %}
        <title>{{ title }} - Booklet</title>
    {% else %}
        <title>Booklet</title>
    {% endif %}
</head>
<body>
    <header class="site-header">
      <!-- First Navbar -->
      <nav class="navbar navbar-expand-md navbar-dark p-0" style="background-color: #151515; height: 55px;">
        <div class="container" style="padding-left: 0; padding-right: 0;">
          <a class="navbar-brand mr-auto" href="{% url 'index' %}"><img style="width: 200px" src="{% static 'logo.png' %}"/></a>
          <div class="navbar-nav">
            {% if user.is_authenticated %}
            <div class="dropdown">
              <p class="text-white pt-2 pr-2 m-0 username" style="font-weight: 500; font-size: 15px; ; cursor: pointer;">
                {{ user.username }}
                <i class="fas fa-caret-down"></i>
              </p>
              <div class="dropdown-content container">
                <a href="{% url 'user-profile' user.id %}">Profile</a>
                <form action="{% url 'logout' %}" method="post">
                  {% csrf_token %}
                  <button type="submit">Log Out</button>
                </form>
              </div>
            </div>
              <img style="width: 40px; height: 40px; object-fit: cover; object-position: top;" src="{{ user.image.url }}"/>
            {% else %}
              <a class="nav-item nav-link primary-nav" style="color: #5f63d4;" href="{% url 'login' %}">Log In</a>
              <a class="nav-item nav-link primary-nav" style="color: #5f63d4;" href="{% url 'signup' %}">Sign Up</a>
            {% endif %}
          </div>
        </div>
      </nav>
      <!-- Second Navbar -->
      <nav class="navbar navbar-expand-md navbar-dark p-0" style="background-color: #5f63d4;">
        <div class="container" style="padding-left: 0; padding-right: 0;">
            <div class="navbar-nav mr-auto">
              <a class="nav-item nav-link secondary-nav text-white mr-2" href="{% url 'index' %}">Popular Books</a>
              <a class="nav-item nav-link secondary-nav text-white mr-2" href="{% url 'top-books' %}">Top Books</a>
              <a class="nav-item nav-link secondary-nav text-white mr-2" href="{% url 'recent-reviews' %}">Reviews</a>
              <a class="nav-item nav-link secondary-nav text-white mr-2" href="{% url 'recent-recommendations' %}">Recommendations</a>
              <a class="nav-item nav-link secondary-nav text-white mr-2" href="{% url 'recent-discussions' %}">Discussions</a>
            </div>
            <form class="form-inline ml-auto mr-2" id="search-form" method="get" autocomplete="off">
              <div class="input-group">
                  <input id="query" type="search" class="form-control text-white border-0 rounded-left" style='background-color: #151515; height: 100%; width: 300px; font-size: 12px; outline: none; box-shadow: none;' placeholder="Search" aria-label="Search" aria-describedby="search-addon"/>
                  <div class="input-group-append">
                      <span class="input-group-text border-0 text-white" style='background-color: #454545; border-top-right-radius: .25rem; border-bottom-right-radius: .25rem; height: 100%; cursor: pointer;'>
                          <i class="fas fa-search fa-xs"></i>
                      </span>
                  </div>
              </div>
            </form>                                
        </div>
      </nav>
    </header>
    <main role="main" class="container border border-top-0 border-bottom-0 border-dark p-0">
      {% if messages %}
            <div class="alert-container m-0">
                {% for message in messages %}
                    <div class="alert m-0 rounded-0 alert-dismissible fade show {% if message.tags %}alert-{{ message.tags }}{% else %}alert-info{% endif %}" role="alert">
                        {{ message }}
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                {% endfor %}
            </div>
      {% endif %}
      {% block content %}{% endblock %}
    </main>
    <footer class="footer border-top border-dark">
      <div class="container">
          <p class="mb-0">© 2024 Booklet.</p>
      </div>
  </footer>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    <script>
        $(document).ready(function() {
            $('.select2').select2();
        });
    </script>
    <script>
      $(document).ready(function() {
          $('#query').select2({
              placeholder: 'Search',
              ajax: {
                  url: '{% url "search" %}',
                  dataType: 'json',
                  delay: 250,
                  data: function (params) {
                      return {
                          query: params.term // search term
                      };
                  },
                  processResults: function (data) {
                      return {
                          results: [
                              {
                                  text: 'Books',
                                  children: data.books.map(book => ({ id: `/book/${book.id}/`, text: book.title }))
                              },
                              {
                                  text: 'Characters',
                                  children: data.characters.map(character => ({ id: `/character/${character.id}/`, text: character.name }))
                              },
                              {
                                  text: 'Authors',
                                  children: data.authors.map(author => ({ id: `/author/${author.id}/`, text: author.name }))
                              }
                          ]
                      };
                  },
                  cache: true
              },
              minimumInputLength: 3,
              templateResult: function(data) {
                  if (data.loading) return data.text;
                  return data.text;
              },
              templateSelection: function(data) {
                  return data.text;
              }
          });
      
          // Redirect to selected item
          $('#query').on('select2:select', function (e) {
              var data = e.params.data;
              if (data.id) {
                  window.location.href = data.id;
              }
          });
      });
      </script>


</body>
</html>
