{% extends "books/book_base.html" %}
{% load mathfilters %}
{% block book_detail %}
<div class="col-md-9 p-0 m-0">
  <div class="container p-2">
    <div class="d-flex border-bottom border-light">
      <a href="{% url 'book-detail' book.id %}" class="detail-bar">Details</a>
      <a href="{% url 'book-stats' book.id %}" class="detail-bar">Statistics</a>
      <a href="{% url 'book-pictures' book.id %}" class="detail-bar">Pictures</a>
      <div class="detail-bar-selected">Characters</div>
      <a href="{% url 'book-reviews' book.id %}" class="detail-bar">Reviews</a>
      <a href="{% url 'book-recommendations' book.id %}" class="detail-bar">Recommendations</a>
      <a href="{% url 'book-discussions' book.id %}" class="detail-bar">Discussions</a>
    </div>
  </div>
  {% if character_books.count == 0 %}
          <div class="container p-2">
            <p class="block-content mt-1">No characters added.</p>
          </div>
    {% else %}
  <div class="container p-2">
    <div class="container p-0 m-0 d-flex justify-content-between border-bottom border-dark">
        <p class="m-0 block-title">Characters</p>
        </div>
      <div class="row p-0 m-0">
        <div class="col p-0 m-0">
          {% for character_book in character_books %}
          <div class="container p-0 pt-3 pb-3 border-bottom border-dark">
            <div class="row m-0 p-0">
              <a href="{% url 'character-detail' character_book.character.id %}" class="title-link col-1 p-0 m-0"><img src="{{ character_book.character.image.url }}" class="img-fluid" style="height: 70px; width: 70px; object-fit: cover;" alt="{{ character_book.character.name }}"></a>
              <div class="container col">
              <a href="{% url 'character-detail' character_book.character.id %}" class="title-link"><p class="m-0 block-content">{{ character_book.character.name }}</p></a>
              <p class="m-0 block-content" style="font-size: 10px;">{{ character_book.get_character_role_display }}</p>
              </div>
            </div>
          </div>
          {% endfor %}
      </div>
      </div>
  </div>
<div class="container mt-4">
    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center">
            {% if character_books.has_previous %}
            <li class="page-item">
                <a class="page-link" href="?page={{ character_books.previous_page_number }}">Previous</a>
            </li>
            {% endif %}
            {% for num in character_books.paginator.page_range %}
            {% if character_books.number == num %}
            <li class="page-item active">
                <a class="page-link" href="?page={{ num }}">{{ num }}</a>
            </li>
            {% else %}
            <li class="page-item">
                <a class="page-link" href="?page={{ num }}">{{ num }}</a>
            </li>
            {% endif %}
            {% endfor %}
            {% if character_books.has_next %}
            <li class="page-item">
                <a class="page-link" href="?page={{ character_books.next_page_number }}">Next</a>
            </li>
            {% endif %}
        </ul>
    </nav>
</div>
{% endif %}
{% endblock book_detail %}